*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 54, 54);
    line-height: normal;
  
}

body{
   
    background-color: rgb(242, 242, 242);
}

html{
    height: 100%;
    width: 100%;
}

nav{
    list-style-type: none;
    margin: 0;
    background-color: rgb(66, 187, 244);
}

nav a{
    text-decoration: none;
    padding: 15px 35px;
    color: white;
    font-size: larger;
}

nav li{
    display:inline-block;
}

nav ul{
    list-style-type: none;
    text-align: center;
    padding: 15px;
}

h2{
    border-bottom: 1px dashed;
}

h1,h2{
    padding-bottom: 10px;
    
}

#footer{
    background-color: #262222;
    padding: 20px;
    color: white;
    text-align: center;
}

.first{
    border-radius: 5px;
    border: #262222;
    
}

img{
   border-radius: 10px;
   
}   

#a{
    border: 1px black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 5px 45px 2px rgb(115, 107, 107);
}

#b{
    border: 1px black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 5px 45px 2px rgb(115, 107, 107);
}

